/**
 *	admin 页面样式
 *
 */

@import url(framework.import.css);
@import url(font-awesome.min.css);
@import url(jquery.dataTables.min.css);
@import url(sb-admin-2.css);

.navbar {padding: 0 30px 0 0;}
.nav{}
.nav li{float: left;}
.nav li a{padding: 15px;}
.menu{border-left: 1px solid #ccc;padding: 0 15px;}

.page-title{padding: 0 20px 0 0;}
.page-title:after{clear: both;}
.page-title .page-header{margin: 0; padding: 9px 20px;}


.page-container{padding: 20px;}
.dataTable .btn{margin-right: 10px;}

.employe-panel{position: fixed; z-index: 100; top:50%; left: 50%; width: 450px; height: 464px; margin-left: -225px; margin-top: -225px;}
